body{
    color: #F0F2FE;
    background-color: #1E1F24;
}
.main{
    border-radius: 10px;
    margin: auto;
    text-align: center;
}
.myphoto{
    margin-top: 5px;
    max-width: 300px;
    border-color: #2D66FF;
    border-radius: 150px;
    border-width: 6px;
    border-style: outset;
}
.info-basic{
    padding: 25px;
    background-color: #1E1F24;
}
.info-basic h1{
    font-family: Candara;
}
.top{
    text-align: center;
}
#grid{
    text-align: center;
}
.icon{
    width: 25px;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
.icon-info{
    width: 70px;
}
.about h1{
    font-family: Candara;
}
.about{
    padding: 20px;
    background-color: black;
    text-align: center;
}
.about a{
    text-decoration: none;
    color: aqua;
}
.icon-seta{
    width: 80px;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
}
.text-me{
    text-align: left;
    max-width: 750px;
    margin: auto;
}
.details{
    text-align: left;
    max-width: 750px;
    margin:auto;
    font-size: 13.5px;
}
.container{
    color: aqua;
    margin-left: -10px;
}
.destaque{
    background-color: aqua;
    color: black;
    border-radius: 5px;
    text-align: center;
}
h2{
    font-family: Candara;
}
.interests{
    text-align: left;
    margin: auto;
    margin-top: 20px;
}
.interests section{
    color:#F0F2FE;
    font-size: 20px;
    padding: 2px;
    text-align: center;
    background-color:#1E1F24;
    border-radius: 5px;
}
.interests img{
    width: 85px;
}
#img{
    margin-top: 5px;
}

.skills{
    color: #F0F2FE;
    padding: 20px;
    text-align: center;
    background-color: #1E1F24;
}
.icon-equa{
    width: 65px;
}
.skills h1{
    margin-top: 5px;
}